
header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.4em;
  font-weight: 100;
  color: #FFFBFF;
}

h3 { width: 85%; margin: 0; color:#282C34}
h4 { color:#282C34; margin: 0.2em 0 0.2em 0}


.map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.main-panel {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFBFF;
  box-shadow: 2px 2px 2px #ccc;
  width: 15%;
  margin-top: 3vh;
  margin-left: 3vh;
  padding: 1vh
  }

.places-container {width: 100%; }
.places-list { width: 100%; list-style: none; padding: 0}
.places-list li { line-height: 1em; border-bottom: 1px solid #ddd}
.places-list li p { background: none; border: none; cursor: pointer; font-size: 1em; font-weight: 6  00; color: #282c34; margin: 0.2em 0 0.1em 0}
.places-list li p.category { font-size: 0.8em; color:#92817A; margin: 0 0 0.5em 0}
.reload {
  display: block;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  background-image: url('./icons/cache.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  font-size: 0;
}
