/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('/static/fonts/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/static/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/static/fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.4em;
  font-weight: 100;
  color: #FFFBFF;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  color: #282C34
}

h4 {
  color: #282C34;
  margin: 0.2em 0 0.2em 0
}

h5 {
  font-size: 1.1em;
  color: #282C34;
  margin: 0.3vh 0 0.2vh 0
}

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.main-panel {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 2px #ccc;
}

.places-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0
}

.places-list li {
  line-height: 1em;
  border-bottom: 1px solid #ddd
}

.places-list li p {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #282c34;
  margin: 0.2em 0 0.1em 0
}

.places-list li p.category {
  font-size: 0.8em;
  color: #92817A;
  margin: 0 0 0.5em 0
}

.reload {
  font-size: 0.85em;
  color: #92817A;
  border: 0;
  background: none;
  padding: 0;
  margin: 4px 0 8px 0;
  cursor: pointer;
}

.infowindow {
  max-width: 130px
}

.infowindow .infowindow-image {
  width: 130px;
  height: 130px;
  margin: 0.3vh 0 0 0
}

.infowindow p {
  font-size: 0.95em;
  font-weight: 600;
  color: #92817A;
  margin: 0 0 0.2vh 0
}

.infowindow address {
  font-size: 0.90em;
  font-weight: 400;
  color: #888;
  margin: 0 0 0.2vh 0
}

.places-dropdown {
  background-image: url('/static/img/15xvbd5.png'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 95% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  overflow: hidden;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  h1 {
    text-align: center;
  }

  .open-menu {
    position: fixed;
    border: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 25px;
    margin: 3%;
  }

  .close-menu {
    border: 0;
    background: none;
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: 3px
  }

  .main-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 10vh;
  }

  .places-container {
    margin: 6px;  }

  .places-dropdown {
    -webkit-appearance: button;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    padding: 2px 5px;
    white-space: nowrap;
    min-width: 170px
  }
}


@media only screen and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    h4 {margin-top: 15px}
    .open-menu {
      display: none;
    }

    .close-menu {
      display: none;
    }

    .main-panel {
      width: 24%;
      height: 90vh;
      overflow: scroll;
    }
    .places-container {
      margin: 6px;
      background-color: #fff;

    }

    .places-dropdown {
      margin-bottom: 10px;
      font-size: 0.8em;
      min-width: 150px;
      background-image: none;
    }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .main-panel {
    margin-top: 10.5vh;
  }
}

@media only screen and (min-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .main-panel {
    min-width: 11%;
    margin-top: 3vh;
    margin-left: 3vh;
    padding: 1vh
  }

  .places-dropdown {
    -webkit-appearance: button;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    padding: 5px 10px;
    white-space: nowrap;
    min-width: 180px
  }
}
